.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
}

.highlight {
  color: #fb6d3a;
}

.job-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 20px;
  word-wrap: break-word;
  white-space: normal;
  text-align: justify;
}

.about-me {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 2px;
  word-wrap: break-word;
  white-space: normal;
  text-align: justify;
}

.list-secondary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  padding-left: 0;
}

.skills {
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #ffffff;
  padding-left: 10px;
  white-space: normal;
}

.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}

.tags span {
  border: 1px solid #516061;
  padding: 5px 10px;
  color: #516061;
  border-radius: 5px;
  font-size: 13px;
  display: inline-block;
  margin: 2px;
}

header {
  background: linear-gradient(#fff5, #fff5),
    url(lol.jpeg) no-repeat center / cover;
}
